<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{{title}}}</title>
</head>
<body>
  <h1>{{{title}}}:</h1>
  <ol>
      {{#each products}}
          <li>
              <p>{{this.title}}</p>
          </li>
      {{/each}}
  </ol>
  <bottom>
    <p>P치gina actual: {{currentPage}}</p>
    <p>Total de p치ginas: {{totalPages}}</p>
    {{#if nextPage}}
    <a href="?page={{nextPage}}&limit={{limit}}">P치gina siguiente ({{nextPage}})</a> <br>
    {{/if}}
    {{#if prevPage}}
    <a href="?page={{prevPage}}&limit={{limit}}">P치gina anterior ({{prevPage}})</a> <br>
    {{/if}}
  </bottom>
</body>
</html>